.Login{
    width: 49%;
    margin: auto;
    margin-top: 150px;
    padding: 97px;
    box-shadow: 4px 0px 8px;
    border-radius: 6px;
}

.Login .btn-primary{
    margin-top: 30px;
}

body{
    background: #f0f0f0;
}